{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container p-4 mt-3 bg-body-tertiary rounded" style="max-width: 60rem;">
        <div class="d-grid gap-2 col-6 mx-auto mb-3">
            <a class="btn btn-primary" href="{{ url_for('index.add_habit') }}">Add Habit</a>
        </div>
        <div class="card mb-3 bg-body-tertiary border border-0">
            <div class="card-body row">
                <div class="col-lg-4 col-md-3 col-sm-2 vstack ms-auto"></div>
                {% for day in days %}
                <div class="col-1 text-secondary text-center text-wrap me-auto">{{ day }}</div>
                {% endfor %}
            </div>
        </div>
        {% for habit in habits %}
        <div class="card mb-3">
            <div class="card-body row">
                <div class="col-lg-4 col-md-3 col-sm-2 vstack ms-auto my-auto">
                    <div class="me-auto">{{ habit.title }}</div>
                    {% if habit.desc %}
                    <div class="text-secondary me-auto">{{ habit.desc | truncate(50) }}</div>
                    {% endif %}
                </div>
                
                {% from 'helpers/_modalhelpers.html' import render_modal %}
                {% for day in days %}
                {% set check_date = datelib.today().replace(day=(day|int)) %}
                <a class="btn col-1 m-auto" data-bs-toggle="modal" data-bs-target="#checkModal-{{ habit.id }}-{{ day }}">
                    <div class="habit-check" data-fetch-url="{{ url_for('index.fetch_habit_check', h_id=habit.id, day=day) }}">
                        <div class="text-center text-secondary me-auto">
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </a>
                {{ render_modal(
                    "checkModal-" ~ habit.id ~ "-" ~ day, "Are you sure?",
                    "If you want to check/uncheck '" ~ check_date ~ "' of '"~ habit.title ~"', press 'Confirm'.",
                    btn_link=url_for('index.update_habit_check', h_id=habit.id, check_date=check_date),
                    add_class="habit-check-modal") }}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}