{% extends 'base.html' %}

{% block title %}{{ habit.title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container p-4 mt-3 content-block bg-body-secondary rounded">
        <div class="p-2 mb-4 mx-1 row habit-details" data-habit-id="{{ habit.id }}">
            <div class="col">
                <div class="fs-4">{{ habit.title }}</div>
                <div class="text-secondary">{{ habit.desc }}</div>
            </div>
            <div class="col-3 row">
                {% from 'helpers/_modalhelpers.html' import render_form_modal %}
                {% from 'helpers/_formhelpers.html' import floating_field %}
                <div class="col-sm-1 m-auto">
                    <button class="btn btn-outline-secondary edit-habit-btn" data-bs-toggle="modal" data-bs-target="#editHabitModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </button>
                    {{ render_form_modal(
                        "editHabitModal", "Edit Habit",
                        body_list=[
                            form.csrf_token,
                            floating_field(form.title, class="form-control mt-3", autofocus=true, autocomplete=false, required=False),
                            floating_field(form.desc, class="form-control", autocomplete=false),
                            form.submit(class="btn btn-info float-end")],
                        btn_link=url_for('habit_data.edit_habit', h_id=habit.id))
                    }}
                </div>

                {% from 'helpers/_modalhelpers.html' import render_form_button_modal %}
                <div class="col-sm-1 mt-2 m-sm-auto">
                    <button class="btn btn-outline-danger delete-habit-btn" data-delete-habit-url="{{ url_for('habit_data.delete_habit', h_id=habit.id) }}" data-bs-toggle="modal" data-bs-target="#deleteHabitModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 mb-1" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </button>
                    {{ render_form_button_modal(
                        "deleteHabitModal", "Are you sure?",
                        "Do you want to delete '" ~ habit.title ~ "'?",
                        btn_link=url_for('habit_data.delete_habit', h_id=habit.id),
                        btn_text="Delete", btn_type="danger") }}
                </div>
            </div>
        </div>

        <div class="fw-bold fs-5 text-center mb-2">Streaks</div>
        <div class="row p-2 w-75 text-center mb-5 align-items-center border border-secondary rounded-5 mx-auto">
            <div class="col-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-fire mx-1 icon-best-streak" viewBox="0 0 16 16">
                    <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                </svg>
                <span class="fw-semibold">Current -</span>
                <span id="habit-{{ habit.id }}-curr-streak">{{ current_streak(habit.id) }}</span>
            </div>
            <div class="col-sm mt-2 mt-sm-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trophy-fill mb-1 mx-1 icon-curr-streak" viewBox="0 0 16 16">
                    <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935"/>
                </svg>
                <span class="fw-semibold">Best -</span>
                <span id="habit-{{ habit.id }}-best-streak" class="my-1" data-get-bs-url="{{ url_for('habit_data.get_best_streak', h_id=habit.id) }}">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </span>
            </div>
        </div>

        <div class="fs-5 fw-bold text-center mb-2">Calendar</div>
        <div class="container p-2 curr-details cal-container border border-secondary rounded-4" data-curr-month="{{ month }}" data-curr-year="{{ year }}">
            <div class="d-grid cal-btns mb-1" data-cal-update-url="{{ url_for('habit_data.update_cal') }}">
                <div class="btn-group mx-1">
                    <button type="button" class="btn icon-link-hover cal-btn cal-left-btn border-0" data-cal-dir="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        </svg>
                    </button>
                    <button type="button" class="btn cal-middle-btn border-0" disabled data-cal-month="{{ month }}" data-cal-year="{{ year }}">{{ months[month - 1] }} {{ year }}</button>
                    <button type="button" class="btn icon-link-hover cal-btn cal-right-btn border-0" data-cal-dir="next" disabled>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="hstack">
            {% for day in weekdays %}
            <div class="day-text fw-bold text-center text-secondary-emphasis">{{ day }}</div>
            {% endfor %}
            </div>
            <div class="cal">
                {% include 'habit_data/cal.html' %}
            </div>
            <div class="cal-error text-danger text-center"></div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/habit_data.js') }}"></script>
{% endblock %}